{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Menu Items{% endblock %}</title>
</head>
<body>
{% block content %}
    <div class="row">
        <div class="col-sm-12 text-left">
            <h1>{{ object.name }}</h1>
            <p class="lead">{{ object.restaurant.name }}</p>
            <ul>
                {% if object.contents %}
                    Contents
                    <ul>
                        {% for item in object.get_contents %}
                            <li>{{ item }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if object.excludes %}
                    Excludes
                    <ul>
                        {% for item in object.get_excludes %}
                            <li>{{ item }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
</body>
</html>