{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ user.username }}{% endblock %}</title>
</head>
<body>
{% block content %}
    <h1>{{ user.username }}</h1>
    <form class='form' method='GET' action='.'>
        <input type='text' placeholder="Search.." name='q' value='{{ request.GET.q }}'>
        <button class='btn btn-default' type='submit'>Search</button>
    </form>
    <hr />
    {% if locations %}
        {% for rest in locations %}
            <div class="row">
                <div class="col-sm-12 list-unstyled restaurant">
                    <li>
                        <span class="h4">{{ rest.title }}  |  {{ rest.location }}  |  {{ rest.category }} </span>
                        <p><a href='{{ request.path}}?q={{ rest.location }}'>{{ rest.location }}</a> |
                            <a href='{{ request.path}}?q= {{ rest.category }}'> {{ rest.category }}</a>

                        </p>
                        <ul>
                            {% for item in rest.item_set.all %}
                                <li>
                                    <span class="lead">{{ item.name }}</span>
                                    <br />
                                    <span class="ing-header">Ingredients: </span>
                                    {% for ing in item.get_contents %}
                                        <span class="ing">{{ ing }}</span>
                                    {% endfor %}
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                </div>
            </div>
            <hr />
        {% endfor %}
    {% else %}
        <p class="lead">No items found</p>
    {% endif %}
{% endblock %}
</body>
</html>